.posts {
  display: flex;
  flex-direction: column;
}

.feed {
    margin: 10px 0;
    border: 1px solid lightgrey;
    padding: 8px;
}

.bottom-inline {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.image {
  max-height: 500px;
  border: black 1px solid;
  max-width: 300px;
}
.link {
  text-decoration: none;
  font-weight: 600;
}
.comment {
  list-style: none;
  text-align: left;
}
