.subreddit-list {
    list-style: none;
    font-family: Geneva, Tahoma, sans-serif;
    color:gray;
    text-align: center;
    background-color: whitesmoke;
    float:right;
    margin-top: 5%;
    margin-right: 1%;
    padding: 1% 5% ;
    padding-bottom: 5%;
    opacity: .7;
    position: relative;
    bottom: 1000px;
    
}
.sub:hover{
    background-color:rgba(212, 193, 232, 0.6) ;
}
.sub {
    padding-left: 30px;
    padding-right: 30px;
}