.App {
  
  background-image: url('./resources/mermaidBackground.jpeg') ;
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 150vh;
  position: relative;
}



.textBackground{
   
   background-image: linear-gradient(0deg, rgba(35,207,180,1) 0%, rgba(151,45,253,1) 100%);
   background-clip: text;
   color: transparent;
   /* padding-top: 1%; */
   margin-top: 1%;
}
h1{
  font-size: 80px;
  font-family: "Brush Script MT";
  text-align: center;
}
/* .subs {
  
  position: relative;
  left: 85%;
  top: 12%;
  background-image: linear-gradient(0deg, rgba(35,207,180,1) 0%, rgba(151,45,253,1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-family: Cursive;
} */


.content{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
